.primary-bg {
  background-color: var(--primary-color);
  height: 10rem;
}

.grey-bg {
  background-color: var(--grey-color);
  min-height: 100vh;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.user-area {
  height: 80vh;
  margin: 3rem 10rem;
  background-color: var(--white-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.grid-area {
  display: grid;
  grid-template-columns: 30% 60%;
}

.user-options {
  padding: 0.5rem 1rem;
  background: #EDEDED;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #4a4a4a;
}

.user-app-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-app-options *{
  margin: 0 0.7rem;
}

.search-bar {
  padding: 0.5rem 1rem;
  background: #EDEDED;
}

.search-bar input {
  width: 100%;
  font-size: 1.3rem;
  border-radius: 900px;
}

.search-bar input:focus {
  outline: none;
  padding: 0.2rem 3rem;
}
